{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
<h1>Réserver un créneau</h1>

{{ form_start(form) }}
    {{ form_row(form.service) }}
    {{ form_row(form.date) }}
    <button type="submit" class="btn btn-primary">Réserver</button>
{{ form_end(form) }}
{% endblock %}
